@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Grape+Nuts&family=Lexend:wght@200&family=Nunito:wght@200&family=Permanent+Marker&family=Roboto+Condensed:ital@1&family=Russo+One&display=swap');
body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

/* HEADER SECTION start  */
header{
  height: 100vh;
  width: auto;
  background-image: url('images/kawa1.jpg');
  background-size: cover;
  transform: rotate(180deg);
  position: relative;
  position: sticky;

}
.title{
position: fixed;
transform: rotate(180deg);
bottom: 18vh;
left: 30vh;
font-family: 'Fredoka One', cursive;
font-size: 6rem;
text-shadow: 1px 1px 3px black;
}

.under_title{
  position: fixed;
  bottom: 50vh;
  left: 16vh;
  transform: rotate(180deg);
  font-size: 1rem;
  text-shadow: 1px 1px 10px black;

}
.list_class{
font-size: 1.2em;
text-decoration: none;
list-style-type: none;
display: flex;
justify-content: flex-end;
margin-right: 5%;
}

.list_class li{
  color: #aa7c62;
  font-family: 'Russo One', sans-serif;
  margin: auto 3% auto 3%;
  cursor: pointer;
}
/* HEADER SECTION end */


/* ABOUT US SECTION start */
.about_us{
  height: 100vh;
  background: rgb(8,8,12);
}

.pic3{
  position: relative;
  left: 55%;
  top: 5%;
  height: 85%;
  width: 35vw;
  background-image: url('images/expr.jpg');
  background-size: cover;
  border-radius: 5%;
}

.text{
  position: absolute;
  left: 3%;
  top: 120%;
  border-top: 2px solid #CC8C1D;
  border-bottom: 2px solid #CC8C1D;
  height: 79vh;
  width: 40vw;
  color: white;
  font-size: 1.3rem;
  line-height: 2.3em;
  font-family: 'Nunito', sans-serif;
  text-shadow: 1px 1px 3px white;
}
.text h1{
  font-size: 5rem;
}

.icons{
  text-align: center;
  text-shadow: none;

}
.fa-brands{
  font-size: 1.9rem;
  margin: 1%;
  cursor: pointer;
}
.fa-facebook:hover{
  color: #3b5998;

}
.fa-instagram:hover{
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 25%;
}
.fa-twitter:hover{
  color: #1DA1F2;
}
/* ABOUT US SECTION end */



/* MENU section start  */
.menu{
  height: 100vh;
  background-image: url('images/beans2.jpg');
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu h1{
  font-size: 5rem;
  text-align: center;
}
.menu_item{
  height: 70%;
  width: 28%;
  background: rgb(97,77,77);
background: radial-gradient(circle, rgba(97,77,77,1) 3%, rgba(46,46,47,1) 96%, rgba(9,1,2,1) 100%);
  color: white;
  font-size: 1.8rem;
  line-height: 3.5rem;
  border-radius: 15%;
  text-align: center;
  font-family: 'Grape Nuts', sans-serif;
  opacity: 0.9;
}

.menu_item ul{
  list-style-type:decimal;
}

/* MENU SECTION end  */

/* BOOK TABLE section */
.book_table{
  height: 100vh;
  background-color: grey;
}

.book_table img{
  position: relative;
  top: 5%;
  left: 5%;
  height: 85%;
  width: 35vw;
  border-radius: 5%;
}




/* BOOK TABLE section end */








/* CONTACT US section start */
.contact_us{
  height: 100vh;
}

.form_area{
  position: relative;
  top: 10%;
  left: 3%;
  border: 3px solid yellow;
  height: 80%;
  width: 45vw;
}
/* CONTACT US section end */
